<div class="container">
    <h4><mark>Автомобіль:</mark> {{name}} <small>{{model}}</small></h4>
    <div class="alert alert-success">
        Характеристики автомобіля:
        <ul>
            <li>Швидкість: <strong>{{speed}}</strong>км</li>
            <li>Колір автомобіля: <strong>{{colors.car}}</strong></li>
            <li>Колір салону: <strong>{{colors.salon}}</strong></li>
            <li>Колір коліс: <strong>{{colors.wheels}}</strong></li>
        </ul>
    </div>

    <h5>Можливості автомобіля</h5>
    <form (submit)="addOpt(option.value)">
        <div class="form-group">
            <label for="option">Додати нову можливість</label>
            <input type="text" id="option" placeholder="Введіть щось" class="form-control" #option>
            <br>
            <button type="submit" class="btn btn-outline-success">Додати</button>
        </div>
    </form>

    <div class="alert alert-warning">
        <ul>
            <li *ngFor="let opt of options">
                {{opt}} <button class="btn btn-warning btn-sm" (click)="deleteOpt(opt)">x</button>
            </li>
        </ul>
    </div>

    <button class="btn btn-danger" (click)="carSelect('bmw')">BMW</button>
    <button class="btn btn-success" (click)="carSelect('audi')">Audi</button>
    <button class="btn btn-info" (click)="carSelect('mercedes')">Mercedes</button>
</div>