<div class="container">
    <app-data-transfer [userName]="name" [userAge]="age"></app-data-transfer>
    <input type="text" [(ngModel)]="name">

    <hr>
    <h6>Передавання події для її подальшої обробки батьківському компоненту від дочірнього компонента</h6>
    <p>Кількість кліків: {{clicks}}</p>
    <app-data-transfer2 (btnChanged)="btnChanged($event)"></app-data-transfer2>

    <hr>
    <h6>Двохстороння прив'язка між властивостями батьківського і дочірнього компонентів</h6>
    <app-data-transfer3 [(userName)]="name1"></app-data-transfer3>
    <p>Вибране ім'я: {{name1}}</p>

    <hr>
    <h6>Життєвий цикл компонента: ngOnChanges</h6>
    <app-data-transfer4 [nameChanged]="name2"></app-data-transfer4>
    <input type="text" [(ngModel)]="name2">

    <hr>
    <h6>Шаблонні змінні</h6>
    <p #greeting>Hello, {{name}}</p>
    <p>{{greeting.textContent.toUpperCase()}}</p>
    <input type="text" [(ngModel)]="name">
    <app-data-transfer5 #counter></app-data-transfer5>
    <button (click)="counter.increment()">+</button>
    <button (click)="counter.decrement()">-</button>

    <hr>
    <h6>ViewChild</h6>
    <app-data-transfer6></app-data-transfer6>
    <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>

    <hr>
    <p>Привязка ViewChild до шаблонних змінних</p>
    <p #nameText>{{name}}</p>
    <p>{{nameText.textContent}}</p>
    <button (click)="change()">Змінити</button>

    <hr>
    <p>ContentChild</p>
    <app-data-transfer7>
        <h3 #headerContent>Ласкаво просимо, {{name}}!</h3>
    </app-data-transfer7>


</div>