<div class="container">
    <div>
        <h1>Маршрутизація в Angular 10</h1>
        <nav class="nav">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Головна</a>
            <a routerLink="/about" routerLinkActive="active">Про нас</a>
            <a [routerLink]="['item', '5']" routerLinkActive="active">item 5</a>
            <a routerLink="/not" routerLinkActive="active">Не знайдено</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>